*{
box-sizing:border-box;
margin:0;
padding:0;
font-family:Inter,Arial,sans-serif;
}


body{

background:#050505;
color:white;
line-height:1.6;

}


nav{

display:flex;
justify-content:space-between;
align-items:center;
padding:25px 8%;

}


.logo{

font-size:24px;

}


nav ul{

display:flex;
gap:30px;
list-style:none;

}


nav a{

color:white;
text-decoration:none;

}


#theme{

background:none;
border:0;
font-size:22px;
cursor:pointer;

}



.hero{

min-height:90vh;
display:flex;
align-items:center;
padding:8%;

}


.hero h1{

font-size:60px;
max-width:800px;

}


.hero h2{

font-weight:400;
color:#aaa;
max-width:700px;

}


.hero p{

margin:20px 0;
color:#bbb;

}


.available{

color:#00ff99!important;

}



.buttons{

display:flex;
gap:20px;

}


.primary,
.secondary{

padding:14px 25px;
border-radius:10px;
text-decoration:none;

}


.primary{

background:white;
color:black;

}


.secondary{

border:1px solid #555;
color:white;

}




section{

padding:80px 8%;

}


.cards{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;

}


.card{

padding:30px;
border:1px solid #222;
border-radius:20px;
background:#0b0b0b;

}


.card span{

color:#00ff99;

}


.skills{

display:flex;
flex-wrap:wrap;
gap:15px;

}


.skills div{

border:1px solid #333;
padding:12px 20px;
border-radius:50px;

}



.timeline div{

border-left:2px solid white;
padding:20px;
margin:20px;

}


footer{

padding:30px;
text-align:center;
color:#777;

}


@media(max-width:700px){

.hero h1{

font-size:40px;

}


nav ul{

display:none;

}

}